@model IEnumerable<DiscoSaurus.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Currently logged in user: @ViewBag.CurrentUserId</p>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Album" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
        <a asp-action="index">Clear</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.Genre != null)
                        {
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        }
                    </td>
                    <td>
                        @if (item.Artist != null)
                        {
                            @Html.DisplayFor(modelItem => item.Artist.Name)
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a> |

                        <p>User id of borrowed item: @item.LentToUser</p>



                        @if (@item.LentToUser != ViewBag.CurrentUserId && item.IsAvailable == false)
                        {
                            <p>N/A</p>
                        }
                        else if (@item.LentToUser == ViewBag.CurrentUserId && item.IsAvailable == false)
                        {
                            <a asp-action="Return" asp-route-albumId="@item.AlbumId">Return</a>
                        }
                        else
                        {
                            <a asp-action="Borrow" asp-route-albumId="@item.AlbumId">Borrow</a>
                        }

                    </td>
                </tr>
            }

        }
    </tbody>
</table>